@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes changecolor {
    from {color:orange;}
    50% {color:orangered;}
    to{ color: red;}
}

body{
    margin-bottom:50px;
    font-family:'TmonMonsori';
}
.main-title{
    color:black;
    font-size:x-large;
    font-weight:bold;
    font-family: 'TmonMonsori';
    display: inline-block;
    margin-top:0px;
}

.title{
    font-family: 'TmonMonsori';
    display: inline-block;
}
.year{
    font-family: 'TmonMonsori';
    display: inline-block;
}

.navbar{
    background:skyblue;
    height:50px;
}

.nav{
    font-size:larger;   
    padding-top:15px;
    float:right;
    padding-right:10px;
}
a{
    text-decoration:none;
    font-family:'TmonMonsori';
}
a:link{
    color:black;
}
a:hover{
    color:black;
}
a:visited{
    color:black;
}

#graduate, #course, #grade, #should, #calculate, .book{
    padding-top:20px;
    padding-left:100px;
    margin-bottom:100px;
}

.book{
    font-size:larger;
    animation-duration: 5s;
    animation-name: changecolor;
    animation-iteration-count:infinite;
}

.graduate-table{
    border: 2px solid black;
    border-collapse:collapse;
}

td{
    border: 2px solid black;
}

.td-title{
    background-color:#CCE5FF;
    text-align:center;
}

.box{
    display:inline-block;
}

input[type=checkbox]{
    display:inline;
    font-size:large;
}